html {
    background-image: url('rain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #656565;
}

p {
    color: white;
}

#header-warning {
    width: 100%;
    background-color: black;
    color: #f5f5f5;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}

#header {
    width: 100%;
    height: 70px;
    margin: 0;
    background-image: none;
    background-color: black;
    filter:alpha(opacity=50);
    opacity: 0.5;
}

#header-company-logo {
    position: relative;
    float: left;
    /* background-image: url(logo.png); */
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

#centerbody {
    background-color: black;
    color: white;
    padding: 10px 10px 40px 10px;
    border: 0;
    border-radius: 9px;
    filter:alpha(opacity=70);
    opacity: 0.7;
}

a {
    color: #ccffcc;
    text-decoration: underline;
    font-weight: bold
}


.message {
    background-color: inherit;
}

.message-info {
    background-color: #003333;
}

.message-error {
    background-color: #ff3333;
}

.message-success {
    background-color: #0066cc;
}

table {
    border-collapse: collapse;
    border: 2px solid #003333;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

table td {
    border: 2px solid #003333;
    padding-left: 5px;
}

table td.title {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    padding-right: 10px;
    background-color: #000000
}

table td.key {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    width: 200px;
}

#randomPasswordDialog_underlay {
    background-color: black;
}

#waitDialogID_underlay {
    background-color: black;
}

#idleDialog_underlay {
    background-color: black;
}
