# PWM Project gitignore files

# Eclipse Project Files
/.project
/.settings
/.classpath

# IntelliJ Project Files
**/.idea/
**/*.iml
*/.idea/
*/*.iml

# OS folder info
.directory
.DS_Store
.DS_Store?

# Maven Output
*/target


/target
/webapp/src/main/webapp/public/resources/themes/netiq
/webapp/src/main/webapp/public/resources/themes/netiq32
/webapp/src/main/webapp/public/resources/themes/idm
/webapp/src/main/webapp/public/resources/themes/mdefault
