mf-app-bar {
  display: block;

  > .mf-app-bar-content {
    display: flex;
    flex-flow: row nowrap;

    > .page-content-title {
      margin-right: 10px;
    }

    > [flex] {
      flex: 1 1;
    }
  }
}