mf-icon {
  display: inline-block;
  font-size: 20px;
  height: 24px;
  position: relative;
  vertical-align: top;
  width: 24px;

  > i {
    color: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &:before {
      color: inherit;
    }
  }
}