$icon-button-size: 20px;
$icon-button-bg-color: #808080;

$icon-button-hover-bg-color: #f6f9f8;
//$icon-button-hover-border-color: #dae1e1;
$icon-button-hover-border-color: #0088ce;
$icon-button-hover-color: #0088ce;

icon-button {
  background-color: $icon-button-bg-color;
  border: 1px solid transparent;
  display: block;
  flex: 0 0 $icon-button-size;
  height: $icon-button-size;
  width: $icon-button-size;

  &:hover {
    background-color: $icon-button-hover-bg-color;
    border-color: $icon-button-hover-border-color;
    color: $icon-button-hover-color;
  }
}