$mf-search-bar-height: 21px;

mf-search-bar {
  display: inline-block;
  height: $mf-search-bar-height;
  position: relative;

  > input {
    border: 1px solid #dae1e1;
    border-radius: 2px;
    height: 100%;
    line-height: 100%;
    box-sizing: border-box;
    width: 100%;
  }

  > .placeholder {
    color: rgba(0, 0, 0, 0.50);
    left: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  > mf-icon {
    cursor: pointer;
    font-size: 16px;
    height: $mf-search-bar-height - 2px;
    padding: 0;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    width: $mf-search-bar-height - 2px;

    &:hover {
      color: #0088ce;
    }
  }
}