<mf-icon class="search-icon" icon="magnify"></mf-icon>
<input type="text"
       ng-keydown="$ctrl.onInputKeyDown($event)"
       ng-model="$ctrl.searchText"
       ng-trim="false"
       title="Search Box"
       autocomplete="off" />
<span class="placeholder"
      ng-hide="$ctrl.searchText.length"
      ng-bind="$ctrl.placeholder || ('Placeholder_Search' | translate)">
    Search
</span>
<mf-icon class="clear-input" icon="close" ng-click="$ctrl.clearSearchText()"></mf-icon>
<!-- loader graphic -->