html {
    background-image: url('autumn-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-color: white;
    width: 480px;
}

.inputfield {
    width: 300px;
}

/* main body wrapper, all elements (except footer) should be within wrapper */
#wrapper {
    width: 100%;
    min-height: 80%;
    height: auto !important;
    height: 100%;
    margin: 0;
}

#header {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.75;
}

#centerbody {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#buttonbar {
    width: 480px;
}
