<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Password Management Servlets (PWM)
  ~ http://code.google.com/p/pwm/
  ~
  ~ Copyright (c) 2006-2009 Novell, Inc.
  ~ Copyright (c) 2009-2010 The PWM Project
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<web-app id="PWM"
         version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>PWM Password Management</display-name>
    <distributable/>
    <description>Password Management Servlet</description>
    <context-param>
        <description>Explicit location of PwmConfiguration.xml file. Without a value, PWM will look for the
            file inside the servlet's WEB-INF directory.
        </description>
        <param-name>pwmConfigPath</param-name>
        <param-value>PwmConfiguration.xml</param-value>
    </context-param>
    <context-param>
        <description>Percentage of time the wordlist populator should sleep every second. Settings less than one will
            cause much cpu and disk access during load. Lower settings cause faster populating, but more system load.
        </description>
        <param-name>wordlistLoadFactor</param-name>
        <param-value>50</param-value>
    </context-param>
    <context-param>
        <param-name>knownLocales</param-name>
        <param-value>en;;;cs;;;de;;;es;;;fr;;;it;;;nl;;;pl;;;pt</param-value>
    </context-param>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>password.pwm.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CaptchaFilter</filter-name>
        <filter-class>password.pwm.CaptchaFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>password.pwm.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>password.pwm.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/public/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/config/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CaptchaFilter</filter-name>
        <url-pattern>/public/NewUser</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CaptchaFilter</filter-name>
        <url-pattern>/public/ActivateUser</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CaptchaFilter</filter-name>
        <url-pattern>/public/ForgottenPassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CaptchaFilter</filter-name>
        <url-pattern>/public/ForgottenUsername</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/public/ChangePassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>password.pwm.EventManager</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>password.pwm.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>password.pwm.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetupResponsesServlet</servlet-name>
        <servlet-class>password.pwm.servlet.SetupResponsesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgottenPasswordServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ForgottenPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandServlet</servlet-name>
        <servlet-class>password.pwm.servlet.CommandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInformationServlet</servlet-name>
        <servlet-class>password.pwm.servlet.UserInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>password.pwm.servlet.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestRegistrationServlet</servlet-name>
        <servlet-class>password.pwm.servlet.GuestRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestUpdateServlet</servlet-name>
        <servlet-class>password.pwm.servlet.GuestUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUserServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ActivateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>password.pwm.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgottenUsernameServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ForgottenUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShortcutServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ShortcutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeopleSearchServlet</servlet-name>
        <servlet-class>password.pwm.servlet.PeopleSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>password.pwm.servlet.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigManagerServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ConfigManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigUploadServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ConfigUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceFileServlet</servlet-name>
        <servlet-class>password.pwm.servlet.ResourceFileServlet</servlet-class>
        <init-param>
            <description>Default HTTP expiration time for resources (in milliseconds)</description>
            <param-name>expireTimeMs</param-name>
            <param-value>600000</param-value>
        </init-param>
        <init-param>
            <description>Maximum item limit for internal resource cache</description>
            <param-name>internalCacheItemLimit</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <description>Maximum file size limit for internal resource cache</description>
            <param-name>internalMaxCacheFileSize</param-name>
            <param-value>51200</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/private/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/private/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/public/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/private/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/public/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetupResponsesServlet</servlet-name>
        <url-pattern>/private/SetupResponses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgottenUsernameServlet</servlet-name>
        <url-pattern>/public/ForgottenUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgottenPasswordServlet</servlet-name>
        <url-pattern>/public/ForgottenPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgottenPasswordServlet</servlet-name>
        <url-pattern>/public/ForgottenPassword/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/public/CommandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/private/CommandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInformationServlet</servlet-name>
        <url-pattern>/admin/UserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/public/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestRegistrationServlet</servlet-name>
        <url-pattern>/private/GuestRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestUpdateServlet</servlet-name>
        <url-pattern>/private/GuestUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUserServlet</servlet-name>
        <url-pattern>/public/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/private/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShortcutServlet</servlet-name>
        <url-pattern>/private/Shortcuts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeopleSearchServlet</servlet-name>
        <url-pattern>/private/PeopleSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/public/Captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigManagerServlet</servlet-name>
        <url-pattern>/config/ConfigManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigUploadServlet</servlet-name>
        <url-pattern>/config/ConfigUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceFileServlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error-http.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error-http.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>pwm</taglib-uri>
            <taglib-location>/WEB-INF/pwm-taglib.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
