<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="redirect" version="3.0">
    <display-name>redirect</display-name>
    <description>redirect</description>
    <servlet>
        <servlet-name>rootIndex</servlet-name>
        <jsp-file>/WEB-INF/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rootIndex</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/WEB-INF/index.jsp</location>
    </error-page>
</web-app>
