# PWM Project gitignore files
#
# Maven Output
/target

# Eclipse Project Files
/.project
/.settings
/.classpath

# IntelliJ Project Files
.idea/
/*.iml

# OS folder info
.directory
.DS_Store
.DS_Store?


# Older PWM versions defaulted the applicationPath dir to WEB-INF.  This section ignores them if the applicationPath is set to WEB-INF.
/src/main/webapp/WEB-INF/logs
/src/main/webapp/WEB-INF/PwmConfiguration.xml
/src/main/webapp/WEB-INF/backup
/src/main/webapp/WEB-INF/LocalDB
/bin/
/src/main/webapp/WEB-INF/applicationPath.lock
/src/main/webapp/public/resources/themes/mdefault
/src/main/webapp/public/resources/themes/netiq32
/src/main/webapp/public/resources/themes/idm
/src/main/webapp/public/resources/themes/netiq
/src/main/webapp/public/resources/app
