<div id="page-content-title">Organization</div>
<div id="orgchart-close" ng-click="$ctrl.close()"></div>

<div id="orgchart-content" class="ng-cloak">
    <div class="orgchart-primary-person-connector" class="ng-cloak"></div>

    <div class="orgchart-management-title orgchart-title">Management</div>
    <div class="orgchart-management" ng-if="$ctrl.managementChain.length" >
        <div class="orgchart-manager" ng-repeat="manager in $ctrl.managementChain"
             ng-click="$ctrl.selectPerson(manager.userKey)">
            <div class="orgchart-separator" ng-class="{first:$first,last:$last}"></div>
            <div class="orgchart-picture">
                <img ng-src="{{ manager.photoUrl }}" />
            </div>
            <div class="orgchart-manager-fields">
                <div class="orgchart-field orgchart-field-0">{{ manager.fields[0].value }}</div>
                <div class="orgchart-field orgchart-field-1">{{ manager.fields[1].value }}</div>
            </div>
        </div>
    </div>

    <div class="orgchart-primary-person">
        <img class="orgchart-picture" ng-src="{{ $ctrl.person.photoUrl }}" />
        <div class="orgchart-num-reports" ng-if="$ctrl.directReports.length">{{ $ctrl.directReports.length }}</div>

        <div class="orgchart-primary-field orgchart-field-0">{{ $ctrl.person.fields[0].value }}</div>
        <div class="orgchart-primary-field orgchart-field orgchart-field-1">{{ $ctrl.person.fields[1].value }}</div>
        <div class="orgchart-primary-field orgchart-field orgchart-field-2">{{ $ctrl.person.fields[2].value }}</div>
        <div class="orgchart-primary-field orgchart-field orgchart-field-3">{{ $ctrl.person.fields[3].value }}</div>
        <div class="orgchart-primary-field orgchart-field orgchart-field-4">{{ $ctrl.person.fields[4].value }}</div>
        <div class="orgchart-primary-field orgchart-field orgchart-field-5">{{ $ctrl.person.fields[5].value }}</div>
        <div class="orgchart-primary-field orgchart-field orgchart-field-6">{{ $ctrl.person.fields[6].value }}</div>
    </div>

    <div class="orgchart-direct-reports-title orgchart-title">Direct Reports</div>
    <div class="orgchart-direct-reports person-card-list" ng-if="$ctrl.directReports.length">
        <div class="person-card" ng-repeat="directReport in $ctrl.directReports"
            ng-click="$ctrl.selectPerson(directReport.userKey)">
            <div class="person-card-image"><img ng-src="{{ directReport.photoUrl }}" /></div>
            <div class="orgchart-num-reports" ng-if="directReport.numOfReports">{{ directReport.numOfReports }}</div>
            <div class="person-card-details">
                <div class="person-card-row-1">{{ directReport.fields[0].value }}</div>
                <div class="person-card-row-2">{{ directReport.fields[1].value }}</div>
                <div class="person-card-row-3">{{ directReport.fields[2].value }}</div>
                <div class="person-card-row-4">{{ directReport.fields[3].value }}</div>
            </div>
        </div>
    </div>
</div>
