#header {
    width: 100%;
    height: 70px;
    margin: 0;
    background-image: url('header-gradient.gif')
}

#header-company-logo {
    position: relative;
    float: left;
    background-image: url(logo.png);
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

#centerbody {
    background-color: #eeeeee;
    padding: 10px 10px 40px 10px;
    border: solid 3px #000088;
    border-radius: 5px;
}

.msg-info {
    display: block;
    padding: 6px;
    background-color: #b6ccdb;
    width: 560px;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.msg-error {
    display: block;
    padding: 6px;
    background-color: #ffcccc;
    width: 560px;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.msg-success {
    color: white;
    display: block;
    padding: 6px;
    background-color: #0000ff;
    width: 560px;
    border-radius: 3px;
    -moz-border-radius: 3px
}
