<h1 class="ias-page-title">Tabs</h1>
<p class="ias-page-instructions">This example shows the basic styling for tab panels.</p>

<div class="demo-section">
    <h3>Default Usage</h3>

    <ias-tabset toggle-repeat-code>
        <ias-tab label="Tab 1">Tab 1 content</ias-tab>
        <ias-tab label="Tab 2">Tab 2 content</ias-tab>
        <ias-tab label="Tab 3">Tab 3 content</ias-tab>
        <ias-tab label="Tab 4">Tab 4 content</ias-tab>
    </ias-tabset>
</div>

<div class="demo-section tiles">
    <h3>Assorted content</h3>

    <ias-tabset toggle-repeat-code ng-init="person='Lynn Christensen'">
        <ias-tab label="Inherited Scope">
            <span ng-bind="person"></span> is the UX director
        </ias-tab>
        <ias-tab label="Panel">
            <ias-panel>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent.</ias-panel>
        </ias-tab>
        <ias-tab label="Tile Grid">
            <ias-tile class="ias-tiny" title="Search">
                <ias-avatar src="'images/appmark_search.png'"></ias-avatar>
                <div class="ias-tile-actions"><ias-icon icon="favorite_fill"></ias-icon></div>
            </ias-tile>
            <ias-tile class="ias-tiny" title="Search">
                <ias-icon icon="search_thick"></ias-icon>
                <div class="ias-tile-actions"><ias-icon icon="favorite_fill"></ias-icon></div>
            </ias-tile>
        </ias-tab>
        <ias-tab label="Form">
            <ias-input-container>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" ng-model="$ctrl.name" novalidate autofocus>
            </ias-input-container>
            <ias-input-container>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" ng-model="$ctrl.email" novalidate>
            </ias-input-container>
            <ias-input-container>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" novalidate>
            </ias-input-container>
        </ias-tab>
        <ias-tab label="Table">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Lynn Christensen</a></td>
                    <td>UX Director</td>
                    <td>801-861-7000</td>
                </tr>
                <tr>
                    <td><a href="#">Joe Hawkins</a></td>
                    <td>Assistant to the UX Director</td>
                    <td>801-861-7000</td>
                </tr>
                <tr>
                    <td><a href="#">Joseph White</a></td>
                    <td>Secret assistant to the UX Director</td>
                    <td>801-861-7000</td>
                </tr>
                </tbody>
            </table>
        </ias-tab>
    </ias-tabset>
</div>

<div class="demo-section">
    <h3>Initial active tab; links</h3>

    <ias-tabset toggle-repeat-code ias-active-tab="1">
        <ias-tab label="Music">Music content</ias-tab>
        <ias-tab label="Athletics">Athletics content</ias-tab>
        <ias-tab label="Service">Service content</ias-tab>
        <ias-tab label="Mathematics">Mathematics content</ias-tab>
        <a ui-sref="app.component.link">Link</a>
    </ias-tabset>
</div>