/*
 * Password Management Servlets (PWM)
 *
 * http://developer.novell.com/wiki/index.php/Pwm
 *
 *         Copyright © 2007 Novell, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

html, body { font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:14px; height:100%; margin:0; width:320px}

a { margin-left: 10px; color:#2D2D2D; text-decoration:underline; font-weight:bold;  }
p { max-width: 300px; color:#2D2D2D; position:relative; margin-left: auto; margin-right: auto}
hr { float: none; width:100px; position:relative; margin-left:5px; margin-top: 30px; margin-bottom: 30px; }

h1 { font-size:18px; margin-left: 5px; }
h2 { font-size:16px; margin-left: 5px; }
h3 { font-size:14px; margin-left: 5px; }

select { font-family:Trebuchet MS, sans-serif }

table { border-collapse:collapse;  border: 2px solid #D4D4D4; width:100%; margin-left: auto; margin-right: auto }
table td { border: 1px solid #D4D4D4; padding-left: 5px;}
table td.title { text-align:center; font-weight: bold; font-size: 150%; padding-right: 10px; background-color:#DDDDDD }
table td.key { text-align:right; font-weight:bold; padding-right: 10px }

.inputfield { width:180px; margin: 5px; font-size: 16px  }

/* main body wrapper, all elements (except footer) should be within wrapper */
#wrapper { width:100%; min-height: 100%; height: auto !important; height: 100%; margin: 0; }

/* main content section, all content should be inside a centerbody div */
#centerbody { width:320px; min-width:320px; padding:0; position:relative; ; margin-left:auto; margin-right:auto; margin-top: 10px; clear:both; padding-bottom:40px;}

/* all forms use a buttonbar div containing the action buttons */
#buttonbar { margin-top: 30px; width:320px; margin-bottom: 15px; text-align: center}
#buttonbar .btn { font-family:Trebuchet MS, sans-serif; margin-left: 5px; margin-right: 5px; font-size:16px }

/* used for password complexity meter */  /* start width 28 */
#vertgraph          { width: 28px !important; height: 60px; float: right; position: relative; border:2px solid #A4A4A4; }
#vertgraph ul       { width: 28px !important; height: 207px; margin: 0; padding: 0; }
#vertgraph ul li    { width: 28px !important; position: absolute; height: 160px; bottom: 0px; padding: 0 !important; margin: 0 !important; background: url("progress_bar_bg.jpg") no-repeat !important; text-align: center; font-weight: bold; color: white; line-height: 2.5em; }
#vertgraph li.bar   { left: 0px; background-position: 0px bottom !important; }
.strengthdisplay    { float: none; margin-top: 65px; margin-left: 10%; margin-right: 10%; text-align:center; font-size: 75%; }

/* header stuff */
#header         { width:100%; height: 70px; margin: 0; background-image:url('header-gradient.gif') }
#header-page    { width:100%; text-align: center; padding-top:9px; margin-left: auto; margin-right: auto; font-family:Trebuchet MS, sans-serif; font-size:22px; color:#FFFFFF; }
#header-title   { width:100%; text-align: center; margin: auto; font-family:Trebuchet MS, sans-serif; font-size:14px; color:#FFFFFF; }

.clear { clear:both; }

.msg-info    { display:block; padding:5px; background-color:#DDDDDD; border:1px solid #D4D4D4; width: 305px;}
.msg-error   { display:block; padding:5px; background-color:#FFCD59; border:1px solid #D4D4D4; width: 305px;}
.msg-success { display:block; padding:5px; background-color:#EFEFEF; border:1px solid #D4D4D4; width: 305px;}

#footer { position:relative; ;text-align: center; bottom:0; width:100%; color: #BBBBBB; font-size: 11px; height: 30px; margin: 0; margin-top: -30px}
#footer .idle_status { color: #333333; }

#capslockwarning { font-family: Trebuchet MS, sans-serif; color: #d20734; font-weight:bold; font-variant:small-caps; margin-bottom: 5px;}


