.tab-container * {
    box-sizing: border-box;
}

.tab-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.input {
    position: absolute;
    opacity: 0;
}

.tab-container > .label {
    background: #f6f9f8;
    border: 1px solid #dae1e1;
    border-bottom: transparent;
    border-radius: 4px 4px 0 0;
    color: #7f7f7f;
    cursor: pointer;
    font-size: 15px;
    height: 31px;
    margin-left: 5px;
    padding: 6px 12px;
    transition: background 0.1s, color 0.1s;
    width: 100%;
}

.tab-container > .label:active {
    /*background: #ccc;*/
}

.tab-container > .input:focus + .label {
    z-index: 1;
}

.tab-container > .input:checked + .label {
    background: #fff;
    border: 1px solid #6a6f71;
    border-bottom-color: transparent;
    color: #000;
    position: relative;
    z-index: 100;
}

.tab-container > .input:checked + .label::after {
    content: "";
    background: #fff;
    bottom: -3px;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
}

@media (min-width: 600px) {
    .tab-container > .label {
        width: auto;
    }
}

.tab-content-pane {
    background: #fff;
    display: none;
    padding: 20px 30px 30px;
    width: 100%;
}

@media (min-width: 600px) {
    .tab-content-pane {
        order: 99;
    }
}

.input:checked + .label + .tab-content-pane {
    display: block;
}

.tab-container > .tab-end {
    border-bottom: 1px solid #6a6f71;
    left: 0;
    width: 100%;
}

/*This targets only IE*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .tab-container > .tab-end {
        height: 7px;
    }
}