.tab-container * {
    box-sizing: border-box;
}

.tab-container {
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    position: relative;
}

.input {
    position: absolute;
    opacity: 0;
}

.tab-container > .label {
    background: #f6f9f8;
    border: 1px solid #dae1e1;
    border-bottom: transparent;
    border-radius: 4px 4px 0 0;
    color: #7f7f7f;
    cursor: pointer;
    font-size: 15px;
    margin-left: 5px;
    padding: 6px 12px;
    transition: background 0.1s, color 0.1s;
    width: 100%;
}

.tab-container > .label:hover {
    /*background: #d8d8d8;*/
    color: #01a9e7;
    border-top-color: #01a9e7;
    border-left-color: #01a9e7;
    border-right-color: #01a9e7;
}

.tab-container > .label:active {
    /*background: #ccc;*/
}

.tab-container > .input:focus + .label {
    /*box-shadow: inset 0px 0px 0px 3px #2aa1c0;*/
    z-index: 1;
}

.tab-container > .input:checked + .label {
    background: #fff;
    border: 1px solid #6a6f71;
    border-bottom-color: transparent;
    color: #000;
    margin-bottom: -1px;
    z-index: 100;
}

@media (min-width: 600px) {
    .tab-container > .label {
        width: auto;
    }
}

.tab-content-pane {
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
}

@media (min-width: 600px) {
    .tab-content-pane {
        order: 99;
    }
}

.input:checked + .label + .tab-content-pane {
    display: block;
}

.tab-container > .tab-end {
    border-bottom: 1px solid #6a6f71;
    /*position: absolute;*/
    /*top: 30px;*/
    left: 0;
    width: 100%;
}