<div class="org-chart-section managers"
     ng-class="{ 'overflow': $ctrl.showingOverflow() }"
     ng-if="$ctrl.hasManagementChain() || $ctrl.isPersonOrphan()">
    <h3 translate="Title_Management">Management</h3>
    <div ng-if="!$ctrl.isPersonOrphan()">
        <div class="manager"
             ng-repeat="manager in $ctrl.getManagementChain() track by $id(manager.displayNames)">
            <div class="org-chart-connector"></div>
            <person-card person="manager"
                         size="{{ $ctrl.getManagerCardSize() }}"
                         show-direct-report-count="false"
                         ng-click="$ctrl.selectPerson(manager.userKey)">
            </person-card>
        </div>
    </div>
    <div ng-if="$ctrl.isPersonOrphan()">
        <div class="manager empty-manager">
            <div class="org-chart-connector"></div>
            <person-card person="$ctrl.emptyPerson" size="{{ $ctrl.getManagerCardSize() }}"></person-card>
        </div>
    </div>
</div>

<div class="org-chart-section">
    <person-card person="$ctrl.person"
                 direct-reports="$ctrl.directReports"
                 disable-focus="true"
                 size="large"
                 show-direct-report-count="true"></person-card>
</div>

<div class="org-chart-section direct-reports" ng-if="$ctrl.hasDirectReports()">
    <h3 translate="Title_DirectReports">Direct Reports</h3>
    <div class="org-chart-connector"></div>

    <div class="person-card-list">
        <person-card person="directReport"
                     show-direct-report-count="false"
                     ng-repeat="directReport in $ctrl.directReports"
                     ng-click="$ctrl.selectPerson(directReport.userKey)">
        </person-card>
    </div>
</div>
