$manager-connector-height: 16px;

// Default display
org-chart {
  display: block;
  min-width: 300px;

  > .org-chart-section {
    position: relative;
    text-align: center;

    &.direct-reports {
      > .org-chart-connector {
        height: 34px;
      }
    }

    &.managers {
      min-height: 98px;

      .manager {
        margin-bottom: $manager-connector-height;
        position: relative;
        text-align: center;

        &.empty-manager {
          > person-card {
            cursor: initial;

            > .person-card-content {
              > .avatar {
                background-color: #dae1e1;
                border-color: #dae1e1;
              }
            }
          }

          > .org-chart-connector {
            background-color: #dae1e1;
          }
        }

        > person-card {
          display: inline-block;
        }
      }

      .org-chart-connector {
        bottom: -$manager-connector-height;
        height: $manager-connector-height;
        top: initial;
      }
    }

    > h3 {
      color: #808080;
      font-size: 14px;
      line-height: 14px;
      margin: 0;
      padding: 15px 0 5px 0;
      text-align: left;
    }

    > person-card {
      &[size="large"] {
        margin: 0 auto;
      }
    }

    > .person-card-list {
      border-top: 3px solid #808080;
      min-height: 90px;
      padding-top: 5px;

      > person-card {
        display: inline-block;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    .org-chart-connector {
      background-color: #808080;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
    }

    .empty-section-label {
      color: #808080;
    }
  }
}

// Too wide for full width person-card
@media (min-width: 375px) {
  org-chart {
    > .org-chart-section {
      > .person-card-list {
        > person-card {
          margin-right: 5px;
          width: 200px;
        }
      }
    }
  }
}

// Wide enough to fit multiple person-cards next to each other inline
@media (min-width: 420px) {
  org-chart {
    > .org-chart-section {
      > .person-card-list {
        text-align: left;
      }

      &.managers {
        .manager {
          text-align: center;
        }
      }
    }
  }
}

// Wide enough to show main person offset to the right. Manager should now be locked in place (instead of centered)
@media (min-width: 464px) {
  org-chart {
    > .org-chart-section {
      text-align: left;

      > person-card {
        &[size="large"] {
          margin: 0 0 0 128px;
        }
      }

      .org-chart-connector {
        left: 169px;
        margin: 0;
      }

      &.managers {
        .org-chart-connector {
          left: 34px;
        }

        .manager {
          display: block;
          margin-left: 135px;
          text-align: left;
        }
      }
    }
  }
}

// Wide enough to display several managers horizontally
@media (min-width: 490px) {
  org-chart {
    > .org-chart-section {
      &.managers {
        margin-left: 0;
        min-height: 128px;
        overflow: hidden;
        white-space: nowrap;

        > h3 {
          left: 0;
          position: absolute;
          top: 6px;
        }

        .org-chart-connector {
          left: 42px;
        }

        .manager {
          display: inline-block;
          margin-left: 0;
          margin-bottom: 32px;

          &:first-child {
            margin-left: 115px;

            > .org-chart-connector {
              bottom: initial;
              top: 56px;
              left: 57px;
              height: 72px;
            }
          }

          &:not(:first-child) {
            > .org-chart-connector {
              background-color: #dae1e1;
              bottom: initial;
              height: 3px;
              left: -37px;
              top: 26px;
              width: 69px;
            }

            > person-card {
              > .person-card-content {
                > .avatar {
                  background-color: #dae1e1;

                  &:not(:hover) {
                    border-color: #dae1e1;
                  }
                }

                > .details {
                  > :first-child {
                    color: #808080;
                  }
                }
              }
            }
          }

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }

      .org-chart-connector {
        left: 172px;
      }
    }
  }
}