<mf-app-bar>
    <div class="page-content-title" translate="Title_Organization">Organization</div>
    <mf-auto-complete search="$ctrl.autoCompleteSearch(query)"
                      item-selected="$ctrl.onAutoCompleteItemSelected(person)"
                      item="person">
        <content-template>
            <span ng-bind="person._displayName"></span>
        </content-template>
    </mf-auto-complete>
    <span flex></span>
    <mf-icon-button
            icon="view-tile"
            ng-click="$ctrl.gotoSearchState('search.cards')"
            ng-attr-title="{{ 'Title_PeopleSearch' | translate }}"></mf-icon-button>
    <mf-icon-button
            icon="view-list"
            ng-click="$ctrl.gotoSearchState('search.table')"
            ng-attr-title="{{ 'Title_PeopleSearch' | translate }}"></mf-icon-button>
</mf-app-bar>

<org-chart person="$ctrl.person"
           direct-reports="$ctrl.directReports"
           management-chain="$ctrl.managementChain">
</org-chart>

<ui-view></ui-view>