org-chart-search {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow-x: auto;

  mf-app-bar {
    > .mf-app-bar-content {
      display: block;

      > .page-content-title {
        width: 100%;
      }

      > mf-auto-complete {
        .results {
          span {
            color: #808080;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (min-width: 426px) {
  org-chart-search {
    mf-app-bar {
      > .mf-app-bar-content {
        display: flex;

        > .page-content-title {
          width: auto;
        }

        > mf-auto-complete {
          max-width: 360px;

          > mf-search-bar {
            max-width: 100%;
          }

          > .results {
            min-width: 100%;
            width: auto;
          }
        }
      }
    }
  }
}
