<mf-app-bar>
    <div class="page-content-title" translate="Title_PeopleSearch">People Search</div>
    <mf-search-bar input-debounce="$ctrl.inputDebounce"
                   search-text="$ctrl.query"
                   on-search-text-change="$ctrl.onSearchTextChange(value)"
                   on-key-down="$ctrl.onSearchBoxKeyDown($event)"
                   auto-focus></mf-search-bar>
    <span flex></span>
    <mf-icon-button
            icon="view-tile"
            disabled="true"
            ng-attr-title="{{ 'Title_PeopleSearch' | translate }}"></mf-icon-button>
    <mf-icon-button
            icon="view-list"
            ng-click="$ctrl.gotoTableView()"
            ng-attr-title="{{ 'Title_PeopleSearch' | translate }}"></mf-icon-button>
    <div class="mf-divider vertical" ng-if="$ctrl.orgChartEnabled"></div>
    <mf-icon-button
            icon="orgchart"
            ng-click="$ctrl.gotoOrgchart()"
            ng-if="$ctrl.orgChartEnabled"
            ng-attr-title="{{ 'Title_OrgChart' | translate }}"></mf-icon-button>
</mf-app-bar>

<div class="people-search-component-content">
    <div class="search-info-container">
        <div class="search-info" ng-if="$ctrl.loading || $ctrl.searchMessage"
             ng-bind="$ctrl.loading ? ('Display_PleaseWait' | translate) : $ctrl.searchMessage">
        </div>
    </div>

    <div class="person-card-list">
        <person-card person="person"
                     show-image="$ctrl.photosEnabled"
                     ng-repeat="person in $ctrl.searchResult.people"
                     ng-click="$ctrl.selectPerson(person)">
        </person-card>
    </div>

    <ui-view></ui-view>
</div>
