people-search-cards {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    > .person-card-list {
        flex: 1 1;
        overflow: auto;
        text-align: center;

        > person-card {
            display: inline-block;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

@media (min-width: 410px) {
    people-search-cards {
        > .person-card-list {
            > person-card {
                margin-right: 5px;
                width: 220px;
            }
        }
    }
}

@media (min-width: 460px) {
    people-search-cards {
        > .person-card-list {
            text-align: left;
        }
    }
}