<div id="page-content-title">People Search</div>

<div id="panel-searchbar" class="searchbar">
    <input id="username" name="username" placeholder="Search" class="peoplesearch-input-username" autocomplete="off" /> <!-- Auto focus this control -->
    <div class="searchbar-extras">
        <div id="searchIndicator" style="display: none">
            <span style="" class="pwm-icon pwm-icon-lg pwm-icon-spin pwm-icon-spinner"></span>
        </div>

        <div id="maxResultsIndicator" style="display: none;">
            <span style="color: #ffcd59;" class="pwm-icon pwm-icon-lg pwm-icon-exclamation-circle"></span>
        </div>
    </div>
</div>

<div id="people-search-view-toggle" ng-click="$ctrl.viewToggleClicked()" ng-class="$ctrl.viewToggleClass"></div>

<ui-view id="people-search-component-view">Loading...</ui-view>
