body, html {
  height: 100%;
}

body {
  > ui-view {
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    width: 100%;
  }
}

.people-search-component {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  > ui-view {
    height: 100%;
    overflow: auto;
  }

  mf-search-bar {
    max-width: 450px;
  }

  .search-info {
    border: 1px solid #dae1e1;
    border-radius: 3px;
    color: #808080;
    display: inline-block;
    font-size: 14px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
  }
}