people-search-cards {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.person-card-list {
    > person-card {
        margin-right: 5px;
        margin-top: 5px;
    }
}
