<mf-app-bar>
    <div class="page-content-title" translate="Title_PeopleSearch">People Search</div>
    <span flex></span>
    <mf-icon-button icon="view-list" ng-click="$ctrl.gotoTableView()"></mf-icon-button>
    <mf-icon-button icon="orgchart" ng-click="$ctrl.gotoOrgchart()"></mf-icon-button>
</mf-app-bar>

<mf-search-bar search-text="$ctrl.query" auto-focus></mf-search-bar>
<p ng-if="!$ctrl.hasSearchResults()">No Results</p>

<div class="person-card-list">
    <person-card person="person"
                 ng-repeat="person in $ctrl.people"
                 ng-click="$ctrl.selectPerson(person)">
    </person-card>
</div>

<ui-view></ui-view>
