people-search-cards {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    > .person-card-list {
        height: 100%;
        overflow: auto;
        text-align: center;

        > person-card {
            display: inline-block;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

@media (min-width: 375px) {
    people-search-cards {
        > .person-card-list {
            text-align: left;
            > person-card {
                margin-right: 5px;
                width: 200px;
            }
        }
    }
}