body, html {
  height: 100%;
}

body {
  > ui-view {
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    width: 100%;
  }
}

.people-search-component {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  > ui-view {
    height: 100%;
    overflow: auto;
  }

  mf-search-bar {
    margin: 10px 0;
  }

  .search-info {
    text-align: center;
  }
}

@media (min-width: 454px) {
  .people-search-component {
    mf-search-bar {
      width: 444px;
    }

    .search-info {
      text-align: left;
    }
  }
}
