$text-color: #000000;
$text-color-subtext: #808080;

$person-card-bg-color: #eef2f2;
$person-card-hover-bg-color: #f6f9f8;
$person-card-border-color: #28a9e1;
$person-card-height: 60px;
$person-card-width: 200px;
$person-card-image-size: 50px;
$person-card-spacing: 10px;

person-card {
  background-color: $person-card-bg-color;
  border: 1px solid $person-card-bg-color;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row nowrap;
  height: $person-card-height;
  overflow: hidden;
  padding: $person-card-spacing;
  vertical-align: top;
  width: $person-card-width;

  &:hover {
    background-color: $person-card-hover-bg-color;
    border-color: $person-card-border-color;
  }

  > .person-card-image {
    background-color: gray;
    flex: 0 0 $person-card-image-size;
    height: $person-card-image-size;
    margin-right: $person-card-spacing;
    width: $person-card-image-size;

    img {
      height: 100%;
      width: 100%;
    }
  }

  > .person-card-details {
    flex-grow: 1;
    width: $person-card-width - $person-card-image-size;

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > .person-card-row-1 {
      color: $text-color;
      font-size: 14px;
    }

    > .person-card-row-2,
    > .person-card-row-3,
    > .person-card-row-4 {
      color: $text-color-subtext;
      font-size: 12px;
    }
  }
}
