<div class="person-card-content" ng-attr-id="{{' detail-' + $ctrl.size }}" ng-switch="$ctrl.size">
    <div class="avatar" ng-if="$ctrl.isSmall() || $ctrl.showImage" ng-style="$ctrl.getAvatarStyle()" aria-label="User avatar"></div>
    <div class="reports"
         ng-if="$ctrl.showDirectReportCount && $ctrl.person.numDirectReports"
         ng-bind="$ctrl.person.numDirectReports"
         ng-attr-title="{{$ctrl.person.numDirectReports}} {{ 'Title_DirectReports' | translate }}"></div>

    <div class="details" ng-switch-when="small">
        <div ng-bind="$ctrl.person.displayNames[0]"></div>
        <div ng-bind="$ctrl.person.displayNames[1]"></div>
    </div>

    <div class="details" ng-switch-when="large">
        <div ng-bind="$ctrl.person.displayNames[0]"></div>
        <div ng-bind="$ctrl.person.displayNames[1]"></div>
        <div ng-bind="$ctrl.person.displayNames[2]"></div>
        <div ng-bind="$ctrl.person.displayNames[3]"></div>

        <div class="secondary-details">
            <div ng-bind="$ctrl.person.displayNames[4]"></div>
            <div ng-bind="$ctrl.person.displayNames[5]"></div>
            <div ng-bind="$ctrl.person.displayNames[6]"></div>
            <div ng-bind="$ctrl.person.displayNames[7]"></div>
        </div>
    </div>

    <div class="details" ng-switch-default>
        <div ng-bind="$ctrl.person.displayNames[0]"></div>
        <div ng-bind="$ctrl.person.displayNames[1]"></div>
        <div ng-bind="$ctrl.person.displayNames[2]"></div>
        <div ng-bind="$ctrl.person.displayNames[3]"></div>
    </div>
</div>
