<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Password Management Servlets (PWM)
  ~ http://www.pwm-project.org
  ~
  ~ Copyright (c) 2006-2009 Novell, Inc.
  ~ Copyright (c) 2009-2016 The PWM Project
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="PWM" version="3.0">
    <display-name>PWM Password Management</display-name>
    <!-- <distributable/> Clustering/Session replication is not supported -->
    <description>Password Management Servlet</description>
    <context-param>
        <description>
            Explicit location of application working directory. If a relative path is specified, it is relative to the
            deployed applications base directory.
        </description>
        <param-name>applicationPath</param-name>
        <param-value>unspecified</param-value>
    </context-param>
    <context-param>
        <description>
            Name of configuration XML file file. If a relative path is specified, it is relative to the applicationPath
            param.  If blank, the default config file name will be used relative to the application path.
        </description>
        <param-name>configurationFile</param-name>
        <param-value>unspecified</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>password.pwm.ws.server.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/public/rest/*</url-pattern>
    </servlet-mapping>
    <!-- uncomment and set parameters for CAS integration
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://cas.localdomain.local:8443/cas/</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>https://pwm.localdomain.local:8443</param-value>
        </init-param>
        <init-param>
            <param-name>proxyCallbackUrl</param-name>
            <param-value>https://pwm.localdomain.local:8443/pwm/proxyCallback</param-value>
        </init-param>
        <init-param>
            <param-name>proxyReceptorUrl</param-name>
            <param-value>/proxyCallback</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://cas.localdomain.local:8443/cas/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>https://pwm.localdomain.local:8443</param-value>
        </init-param>
        <init-param>
            <param-name>renew</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>gateway</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/proxyCallback</url-pattern>
    </filter-mapping>
    -->
    <filter>
        <filter-name>GZIPFilter</filter-name>
        <filter-class>password.pwm.http.filter.GZIPFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RequestInitializationFilter</filter-name>
        <filter-class>password.pwm.http.filter.RequestInitializationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ApplicationModeFilter</filter-name>
        <filter-class>password.pwm.http.filter.ApplicationModeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>password.pwm.http.filter.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CaptchaFilter</filter-name>
        <filter-class>password.pwm.http.filter.CaptchaFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>password.pwm.http.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <filter-class>password.pwm.http.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ConfigAuthorizationFilter</filter-name>
        <filter-class>password.pwm.http.filter.ConfigAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GZIPFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestInitializationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ApplicationModeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CaptchaFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
        <url-pattern>/public/ChangePassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <url-pattern>/private/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ConfigAuthorizationFilter</filter-name>
        <url-pattern>/private/config</url-pattern>
        <url-pattern>/private/config/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>password.pwm.http.HttpEventManager</listener-class>
    </listener>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error-http.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error-http.jsp</location>
    </error-page>
    <session-config>
        <!-- Please use the application configuration to control the idle session timeout.  This value will not be used.  -->
        <session-timeout>5</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>pwm</taglib-uri>
            <taglib-location>/WEB-INF/pwm-taglib.tld</taglib-location>
        </taglib>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
