<div class="dialogBody narrow">
    {{$ctrl.getString('Display_PasswordGeneration')}}
    <br><br>
    <table class="noborder">
        <tbody>

        <tr class="noborder" ng-repeat="i in [0,2,4,6,8,10,12,14,16,18]">
            <td class="noborder" ng-repeat="j in [i, i+1]" style="padding-bottom: 5px;" width="20%">
                <div style="visibility: visible;" class="link-randomPasswordValue" href="#" id="randomGen{{j}}"
                    ng-click="$ctrl.onChoosePassword($event)">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <table class="noborder">
        <tbody>
        <tr class="noborder">
            <td class="noborder">
                <button class="btn" id="moreRandomsButton" ng-click="$ctrl.onMoreRandomsButtonClick()">
                    <span class="btn-icon pwm-icon pwm-icon-refresh"></span>
                    {{$ctrl.getString('Button_More')}}
                </button>
            </td>
            <td class="noborder" style="text-align:right;">
                <button class="btn" id="cancelRandomsButton" ng-click="$ctrl.onCancelRandomsButtonClick()">
                    <span class="btn-icon pwm-icon pwm-icon-times"></span>
                    {{$ctrl.getString('Button_Cancel')}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
