ias-dialog {
  &.password-suggestions-dialog {
    table {
      td {
        min-width: 160px;
        height: 15px;

        div {
          cursor: pointer;
          font-family: monospace;
        }
      }
    }
  }
}
